<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container">
        <a class="navbar-brand fw-bold fs-4 text-white" routerLink="/"> SpaceX</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white fw-bold fs-5" routerLink="/rockets" routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{ exact: true }">Rockets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fw-bold fs-5" routerLink="/payloads" routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{ exact: true }">Payloads</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fw-bold fs-5" routerLink="/launchpads" routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{ exact: true }">Launchpads</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container mt-4">
    <router-outlet></router-outlet>
</div>